@import "../theme";

.groups {
  &.container {
    min-height: 300px;
    flex-direction: column;
    background-color: $light_green;
    margin-left: 60px; 
    margin-right: 15px;
    border-radius: $borderRadius;
    margin-bottom: 15px; 
  }
  &.headerContainer{
    justify-content: center;
    display: flex;
    align-items: center;
  }
  &.title{
    color: $textColor;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    flex: 1;
  }
  &.titleContainer{
    text-align: center;
    margin: 0 auto; 
  }
  &.addButtonContainer{
    margin: 0px 15px 0px auto;
  }
  &.backButtonContainer{
    margin: 0px auto 0px 60px;
  }
  &.p{
    color: $container_dark;
    font-weight: 600;
    font-size: 1.5em;
    margin: 16px 0px 16px 0px;
  }
  &.formLeft {
    vertical-align: top;
    display: inline-block;
    flex-direction: column;
    margin: 30px 0px 30px 30px;
    width: 25%;
  }
  &.image{
    border-radius: $borderRadius;
    border-style: solid;  
    border-width: 2px;
    border-color: $container_dark; 
    margin-right: 30px; 
    margin-bottom: 15px; 
    cursor: pointer;
    width: 100%
  }
  &.formRight {
    vertical-align: top;
    display: inline-block;
    flex-direction: column;
    margin: 30px 30px 0px 30px;
    width: 60%;
  }
  &.addNameContainer{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    color: $container_dark;
    background-color: rgb(255, 255, 255, 0.6);
  }
  &.membersField{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
  }
  &.membersInput{
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 0.75em;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.6);
    color: $container_dark;
  }
  &.label {
    color: $container_dark;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.5em;
    margin-right: 10px;
    flex-shrink: 0;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
  &.tags{
    margin-bottom: 15px; 
  }
}