@import "../theme";

.calendar {
  //Basic component style
  &.container {
    justify-content: flex-start;
    display: flex;
    position: static;
  }

  &.baseContainerLeft {
    width: 27%;
    margin-right: 20px;
    justify-content: center;
    padding-bottom: 10px;
    height: 69%;
    margin-left: 17%;
  }

  &.baseContainerRight {
    margin-top: 115px;
    margin-left: 45% ;
    width: 54%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 69%;
    padding-bottom: 20px;
  }

  &.headContainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 1;
    height: 80px;
    max-width: 100%;
    margin: -0px 20px 0px 20px;
  }

  &.headContainer2 {
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    margin-top:2%;
  }

  &.titleContainer {
    text-align: center;
    max-width: 70%;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2%;
  }

  &.title1 ,&.titleGroupName1{
    color: $textColor;
    font-size: 33px;
    max-width: 80%;
    max-height: 80%;
  }
  &.titleGroupName1{
    width:60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
  &.title2 ,&.titleGroupName2{
    color: $textColor;
    font-size: 40px;
  }
  &.titleGroupName2{
    width: 43%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }


  &.noRecipeText {
    font-weight: bold;
    color: $light_pink;
    font-size: 30px;
    font-style: italic;
    text-align: center;
  }

  &.backButtonContainer {
    margin-left: 5%;
  }

  &.arrowButtonContainer {
    margin: -1% 0 0 83%;
    display: flex;
    width: 12%;
    height: 10%;
    clear: both;
  }

  &.arrowButton {
    background-color: $light_green;
    padding: 15px 15px;
    margin-right: 7px;
    height: 50%;
    width: 40%;
    align-items: center;
    display: flex;
  }

  //styles related to search recipes
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-left: calc(100% - 500px);
    padding-left: 20px;
    height: 25px;
  }

  &.input {
    height: 25px;
    border: none;
    border-radius: 0.5em;
    background: transparentize(white, 0.01);
    color: $container_dark;
    background-color: $textColor;
    text-align: left;
    align-items: center;
    justify-content: center;
    width: 90%;
    display: flex;
    margin: 0px 0px 0px 5px;
  }

  &.searchContainer {
    width: 100%;
    height: 30px;
    background-color: $light_green;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
  }

  &.searchButtonContainer {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px 0px 5px;
    flex: 1;
  }

  &.searchButton {
    width: 25px;
    height: 25px;
    background-color: $dark_green;
    color: $textColor;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  //styles related to recipe
  &.recipeListContainer {
    display: flex;
    justify-content: center;
    min-height: 30%;
    flex-wrap: wrap; //to wrap to the next line if there isn't enough space horizontally
    margin: 5% 0 5% 0;

  }

  &.recipeContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 5%;
    margin: 10px 5px 5px 5px;
  }

  &.recipeButton {
    background-color: $light_green;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    width: 93%;
    border: none;
    border-radius: 0.75em;
    box-sizing: border-box;
  }
  &.dragPreview{
    display: none;
    position: absolute;
    width:100px;
    min-height: 110px;
    z-index: -1;
    align-items: center;
    justify-content: center;
    background:$light_green;
    padding:5px;
    border-radius: 0.75em;
    border: 1px solid $container_dark;
  }
  &.dragPreviewImg{
    width: 80px;
    height: 80px;
    display: block;
    margin:auto;
  }
  &.dragPreviewTitle{
    text-align: center;
    margin:5px 0;
    font-size:12px;
    width: 100%;
    overflow: hidden;
    //color: $textColor;
  }

  &.recipeTitle {
    font-weight: bold;
    color: $container_dark;
    font-size: 20px;
    max-width: 60%;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  &.recipeImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
  }

  &.recipeImg {
    width: 7em;
    height: 7em;
    border-radius: 50%;
  }

  &.recipeImg img {
    width: 100%;
    height: 100%;
  }

  //styles related to calendar
  &.calendarContainer {
    background-color: $light_green;
    padding: 10px;
    height: 78%;
    width: 95%;
    max-height: 700px;
    border-radius: 0.75em;
  }

  &.calendarForm {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto repeat(3, 1fr);
    height: 100%;
    border-width: 3px 1px 3px 3px;
    border-color: $container_dark;
    border-style: solid;
  }

  &.date {
    background-color: $light_pink;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    padding: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.status {
    min-height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:5px;
    border-width: 0px 2px 0px 0px;
    border-style: solid;
    overflow-y: hidden;
  }
  &.status:hover{
    overflow: auto;
  }

  &.status.breakfast {
    background-color: $light_yellow;
  }

  &.status.lunch {
    background-color: $light_brown;
  }

  &.status.dinner {
    background-color: rgba($grey_blue, 0.27);
  }

  &.eventContainer {
    background-color: $container_dark;
    color: $textColor;
    border-radius: 0.75em;

    display: flex;
    flex-direction: column;
    align-items: center;


    min-height: 80px;
    height: 87%;
    width: 75%;
    padding: 5px 3px 5px 3px;
    margin: 0px 3px 3px 3px;
  }
  &.recipeButtonrInCalendar {
    display: flex;
    align-items: center;
    color:$textColor;
    border-radius: 0.75em;
    width: 90%;
    min-height: 30%;
    height: auto;
    margin:5% 0 20% 0;
    max-width: 100%;
    font-size: 12px;
    cursor: default;
  }
  &.recipeButtonrInCalendar:hover{
    cursor: pointer;
  }

  &.eventTitle {
    width: 100%;
    height: 2.2em;
    word-wrap: break-word;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &.removeButton{
    height:10%;
    width:100%;
    display: flex;
    justify-content: center;
    background-color: transparent;

    border: none;
    cursor: default;
    color:$light_green;
    font-size:13px;
  }
  &removeButton:hover {
    cursor: pointer;
  }

  &.creatorImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

  &.creatorImg {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &.creatorImg img {
    width: 100%;
    height: 100%;
  }
  &.modal-backdrop{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.modal-content{
    background-color: $light_green;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-out;
    font-weight: bold;
  }
}