@import "../theme";

.cookbook {
  &.headerContainer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 130px;
    margin-left: 60px;
    margin-right: 50px;
  }

  &.backButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  &.title {
    color: $textColor;
    font-size: 40px;
    text-align: center;
  }

  &.filterContainer {
    margin-left: 25%;
    width: 50%;
    height: 35px;
    background-color: $light_green;
    border-radius: $borderRadius;
    display: flex;
  }

  &.filterButtonContainer {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
  }

  &.filterButton {
    width: 47%;
    height: 2em;
    background-color: $dark_green;
    color: $textColor;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.clearButton{
    width: 45%;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    font-size: 14px;

  }

  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &.input {
    margin-right: 5px;
    height: 28px;
    border: none;
    border-radius: $borderRadius;
    background: $textColor;
    color: $container_dark;
    text-align: left;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
  }

  &.recipeListContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
    height: 320px;
  }

  &.recipeContainer {
    display: flex;
    width: 43%;
    margin-left: 50px;
    padding: 10px;
    gap: 20px;
  }

  &.recipeButton {
    background-color: $light_green;
    cursor: pointer;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0.75em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
  }

  .selected {
    border: 5px solid black;
    background-color: $light_pink;
  }

  &.recipeImgContainer {
    flex-shrink: 0;
    margin: 15px;
    align-items: center;
  }

  &.recipeImg {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }

  &.recipeUserImgContainer {
    position: absolute;
    bottom: 0;
    left: 5px;
  }

  &.recipeUserImg {
    width: 50px;
    height: 50px;
  }


  &.recipeContent {
    flex-grow: 1;
    text-align: left;
    position: relative;
    max-width:50%;
    position: relative;
  }

  &.recipeTitle {
    font-weight: bold;
    color: $container_dark;
    font-size: 20px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.recipeDescription,&.recipeTotalTime{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
  }
  &.recipeTags {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $container-dark;
  }

  &.noRecipeText {
    font-weight: bold;
    color: $light_pink;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
  }
  &.editButtonContainer{
    position: absolute;
    z-index: 10;
    top:40%;
    right:2%;
  }
  &.editRecipeButton{}
}
