@import "../theme";

.Home {
  &.containerLeft {
    min-height: 300px;
    flex-direction: column;
    background-color: $true_green;
    margin-left: calc(15% + 80px);
    border-radius: $borderRadius; 
    display: inline-block; 
    vertical-align: top;
    width: 50%;
    margin-top: 115px; 
    position: fixed; 
    height: calc(100% - 210px);
    padding-top: 15px;
  }
  &.containerRight {
    min-height: 300px;
    flex-direction: column;
    left: calc(65% + 100px);
    margin-right: 10px; 
    border-radius: $borderRadius; 
    display: inline-block; 
    vertical-align: top;
    margin-top: 115px; 
    position: fixed; 
    height: calc(100% - 210px);
    padding-top: 15px;
    right: 0; 
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: 20em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $true_green;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.header{
    text-align: center;
    line-height: 0.5; /*to display personal and cookbook under each other */
    display: flex; 
    align-items: center;
    justify-content: center;
  }
  &.icon{
    margin-left: 60px;
    margin-right: 60px;
    top: 10px;
  }
  &.personalTitle{
    color: $textColor;
    font-size: 40px;
  }
  &.recipeContainer{
    padding-left: 30px;
    padding-right: 30px;
    margin-right:30px; 
    margin-left:30px; 
  }

  &.recipeImage{
    width: 40%;
    padding-left: 15px; 
    border-radius: $borderRadius;
  }
  &.recipeInfo{
    padding: 0px 15px 0px 15px; 
  }
  &.groupImage{
    width: 23%;
    padding-left: 15px; 
    border-radius: 50%;
    margin-right: 15px; 
  }
  &.groupTitle{
    color: $container_dark;
    font-size: 40px;
    line-height: 60px;
  }
  &.buttonContainer {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 12px; 
    padding-bottom: 12px;
    margin-left: 15px;
    margin-right: 15px; 
  }
  &.recipeTitle{
    color: $container_dark;
    text-align: left;
    font-size: 25px;
    margin-top:0px;
    margin-bottom:12px;
  }
  &.recipeDescription, 
  &.recipeTags, 
  &.recipeTime{
    color: $container_dark; 
    font-size: 12px;
    text-align: left;
    font-weight: 400px;
  }
  &.recipesButtonContainer{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 12px; 
    padding-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px; 
    bottom:0; 
    position: absolute;
    width: 100%
  }
}