@import "../theme";
.invitations {
  &.headerContainer {
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
  }
  &.backButtonContainer {
    margin-left: 60px;
  }
  &.title {
    color: $textColor;
    font-size: 40px;
    text-align: center;
    flex: 1;
    margin-right: 220px;
  }
  &.backContainer {
    display: flex;
    flex-direction:column;
    align-items: center;
    min-height: 380px;
    width: 60%;
    margin: 0 auto;
    background-color: $light_green;
    border: 2px solid #000000;
  }
  &.invitationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    overflow-y: auto;
    margin:20px 0px 0px 0px;
  }
  &.noInvitation{
    font-style: italic;
    color: $container_dark;
    font-size: 30px;
    font-weight: bold;
    margin:100px 0px 0px 5px;
  }
  &.invitationField {
    display: flex;
    justify-content:flex-start ;
    min-height: 85px;
    width: 80%;
    border-radius: $borderRadius;
    align-items: center;
    background-color: $container_dark;
    color:$textColor;
    margin-bottom: 15px;
    min-width: 370px;
  }
  &.invitationImgContainer {
    display: flex;
    justify-content: center;
    margin:0px 0px 0px 5px;
  }
  &.invitationImg{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  &.invitationImg img{
    width: 100%;
    height: 100%;
  }
  &.invitationGroupName{
    color:$textColor;
    margin:0px 0px 0px 10px;
    font-size:20px;
    flex: 1 1 auto; /* Allow expansion and contraction */
    white-space: normal; /* Allow line breaks */
    word-wrap: break-word; /* Break words when necessary */
  }

  &.buttonContainer{
    display: flex;
    justify-content: center;
  }
  &.acceptButton{
    background-color: $dark_pink;
    color: $textColor;
  }
  &.declineButton{
    background-color: $light_yellow;
    color:$container_dark;
    margin:0px 5px 0px 10px;
  }
}