@import "../theme";

/*UI for the new green base container*/
.base-container-new {
  margin-left: calc(15% + 50px);
  border-radius: $borderRadius;
  background-color: $true_green;
  vertical-align: top;
  width: calc(85% - 60px); /*subtracting all the margins off the dashboard and the base container from the remaining width*/
  position: absolute;
  height: calc(100% - 210px);
  margin-top: 115px;
  overflow-y: auto;
  padding-bottom: 70px;
  //overflow: hidden;
}