@import "../theme";
/*UI for the dashboard*/ 
.dashboard {
  &.container{
    margin-left: 10px;
    margin-right: 15px; 
    width: 15%;
    background-color: $container_dark;
    color: $textColor;
    border-radius: $borderRadius;
    padding-top: 15px;
    padding-bottom: 30px; 
    vertical-align: top;
    height: calc(100% - 210px);
    position: absolute;
    margin-top: 115px; 
  }
  
  &.button-container {
    padding-left: 6px;
    padding-right: 6px;
    justify-content: center;
    padding-top: 12px; 
    padding-bottom: 12px; 
  }
  &.header{
    text-align: center;
  }
  &.title{
    font-weight: 600;
  }
  &.logout-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  &.logout-img{
    width:50px;
    height:50px;
    margin-right: 10px;
  }
  &.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $container_dark;
    color: $textColor;
    border-radius: $borderRadius;
    padding: 20px;
    z-index: 1000;
  }
  &.popup-title{
    font-weight: 600;
    text-align: center;
  }
  &.popup-button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

