@import "../theme";

.header_new {
  &.container {
    color: $container_dark;
    margin: 10px;
    border-radius: $borderRadius;
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
    text-align: left;
    display: flex;
    align-items: center;
    height: 90px;
    padding-left: 10px;
    z-index: 1; //keeps header on top while everything else is scrolling
  }

  &.profileImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  &.title {
    font-weight: 600;
    color: $textColor;
    margin-left: 15px;
  }
}