@import "../theme";

.header_new {
  &.container {
    color: $container_dark;
    margin: 10px;
    border-radius: $borderRadius;
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
    text-align: left;
    display: flex;
    align-items: center;
    height: 90px;
    padding-left: 10px;
    z-index: 1; //keeps header on top while everyhing else is scrolling
  }

  //&.button {
  //  width: 100%;
  //  height: 40px;
  //  display: block;
  //  background-color: $dark_pink;
  //  color: $container_dark;
  //}

  &.profileImage {
    width: auto;
    border-radius: 50%;
    padding-right: 15px;
  }

  &.title {
    font-weight: 600;
    color: $textColor;
  }
}