@import "../theme";

.loading-spinner {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    & div {
        /*position: absolute;
        top: 5px;
        width: 11px;
        height: 11px;*/
        display: inline-block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        background: url("../../assets/rightBrok.png");
        background-size: cover;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);

        &:nth-child(1) {
            left:0px;
            animation: loading-spinner1 0.6s infinite;
        }
        &:nth-child(2) {
            left:100px;
            animation: loading-spinner2 0.6s infinite;
        }
        &:nth-child(3) {
            left:240px;
            animation: loading-spinner2 0.6s infinite;
        }
        &:nth-child(4) {
            left:300px;
            animation: loading-spinner3 0.6s infinite;
        }
    }
}
@keyframes loading-spinner1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loading-spinner2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
@keyframes loading-spinner3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}