/*
  This file contains the most basic variables that control how your application will look.
 */

/* Theme Colors

   these values control the colors of your application.
   feel free to play around with these and see what other look you can come up with! :D
*/

$background: #D8E2DC;
$container_dark: #0B202C;
$textColor: white;
$true_green: #2F8059;
$light_green: #C6DABF; 
$dark_pink: #E27396;  
$light_pink: #F9B7C0; 
$dark_green: #147067;



/* some constants */

$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;

/* some standard elements */
/* fonts */
$fontDefault:"Inter", sans-serif; /*updated the font family*/
$fontMono: "Roboto Mono", monospace;

/* a standard drop shadow */
$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);

$borderRadius: 0.25em;

/* mixins

  these allow you to create small snippets that you can insert with a one-liner in other stylesheets
  for an example, see styles/views/Login.scss
*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}